{% extends "base.html" %}

{% block title %}
О нас | 
{% endblock title %}

{% block content %}

<p class="fw-normal">Добро пожаловать на qnauka.ru "Научные горизонты" — ваш проводник в мир увлекательных открытий и инновационных исследований!</p>

<p class="fw-normal">Здесь мы разбираем последние достижения в науке, от астрофизики до биотехнологий. 
Каждая статья — это возможность заглянуть за кулисы научного мира, понять сложные концепции и узнать о работе ученых, которые меняют наше представление о мире.</p>

<p class="fw-normal">
Присоединяйтесь к нам в этом захватывающем путешествии по бескрайним просторам знаний, где каждый пост — это шаг к новым открытиям!</p>

<p class="fw-normal">
Email для связи: catpetpet@yandex.ru</p>
{% endblock %}